/* screen - web-1920-1 */
body {

    align-items: center;
    justify-items: center;
  }
  .web-1920-1 {
    background-color: var(--white);
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
  
  .web-1920-1 .grupo-1-HlzXCz {
    background-color: transparent;
    height: 9081px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 1920px;
  }
  
  .web-1920-1 .back-N3ogtf {
    background-color: transparent;
    height: calc(100.00% - 122px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .estrutura-EfOzXj {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-101-EfOzXj {
    background-color: var(--alabaster);
    height: 2349px;
    left: 0px;
    position: absolute;
    top: calc(37.44% - 880px);
    width: 100%;
  }
  
  .web-1920-1 .footer-N3ogtf {
    background-color: transparent;
    bottom: 0px;
    height: 788px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }
  
  .web-1920-1 .cases-N3ogtf {
    background-color: transparent;
    bottom: calc(48.45% - 543px);
    height: 1120px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
  
  .web-1920-1 .back-img-u9vn6u {
    background-color: transparent;
    bottom: 0px;
    height: 932px;
    position: absolute;
    right: 0px;
    width: 1099px;
  }
  
  .web-1920-1 .rectangle-103-4V2wxx {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .white-u9vn6u {
    background-color: var(--white);
    bottom: 133px;
    box-shadow: 0px 0px 200px #00000012;
    height: 666px;
    left: 0px;
    position: absolute;
    width: 1098px;
  }
  
  .web-1920-1 .text-u9vn6u {
    background-color: transparent;
    height: 718px;
    left: 166px;
    position: absolute;
    top: 0px;
    width: 623px;
  }
  
  .web-1920-1 .textlabel-QYJDq8 {
    -webkit-text-stroke: 1px #e9e9e9;
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-russo_one);
    font-size: 600px;
    font-style: normal;
    font-weight: 400;
    height: 720px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    right: calc(33.08% - 31px);
    text-align: left;
    top: 276px;
    width: 94px;
  }
  
  .web-1920-1 .clientes-satisfeitos-QYJDq8 {
    background-color: transparent;
    bottom: calc(32.90% - 8px);
    height: 25px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .title-u9vn6u {
    background-color: transparent;
    height: 65px;
    left: 164px;
    position: absolute;
    top: calc(46.54% - 30px);
    width: 772px;
  }
  
  .web-1920-1 .cases-de-sucesso-eThYNd {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 16px;
    white-space: nowrap;
    width: 419px;
  }
  
  .web-1920-1 .button-eThYNd {
    background-color: transparent;
    height: calc(100.00% - 5px);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 219px;
  }
  
  .web-1920-1 .rectangle-21-M7Wx46 {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .mais-cases-rexfort-M7Wx46 {
    background-color: transparent;
    height: 21px;
    left: 26px;
    letter-spacing: 0.00px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(46.15% - 10px);
    white-space: nowrap;
    width: calc(100.00% - 45px);
  }
  
  .web-1920-1 .diferencial-u9vn6u {
    background-color: transparent;
    bottom: calc(28.72% - 79px);
    height: 274px;
    left: 166px;
    position: absolute;
    width: 770px;
  }
  
  .web-1920-1 .lorem-ipsum-dol-t-amet-lacus-no-EThExh {
    background-color: transparent;
    height: 119px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: -3px;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .edson-fagundes-alves-rs-brasil-EThExh {
    background-color: transparent;
    bottom: -2px;
    color: var(--chicago);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-l);
    font-weight: 400;
    height: 74px;
    left: calc(44.44% - 215px);
    letter-spacing: 0.00px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    width: 484px;
  }
  
  .web-1920-1 .span0-yIv40I {
    color: var(--black);
    font-style: normal;
    font-weight: 700;
  }
  
  .web-1920-1 .span1-yIv40I {
    font-size: var(--font-size-s);
    font-style: normal;
  }
  
  .web-1920-1 .arrow-pointing-to-right-1-EThExh {
    background-color: transparent;
    bottom: 28px;
    height: 32px;
    position: absolute;
    right: 2px;
    width: 46px;
  }
  
  .web-1920-1 .group-NTuD0O {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-SkOWSG {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
  }
  
  .web-1920-1 .arrow-pointing-to-right-1-qlrVYn {
    background-color: transparent;
    bottom: 28px;
    height: 32px;
    position: absolute;
    right: 66px;
    transform: rotate(180.00deg);
    width: 46px;
  }
  
  .web-1920-1 .group-yqdweU {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-ecqDhO {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    transform: rotate(-180.00deg);
    width: 100%;
  }
  
  .web-1920-1 .person-u9vn6u {
    background-color: transparent;
    bottom: calc(22.87% - 23px);
    height: 101px;
    left: 166px;
    position: absolute;
    width: 101px;
  }
  
  .web-1920-1 .ellipse-1-fyWMs1 {
    background-color: transparent;
    border: 4px solid var(--eucalyptus);
    border-radius: 50.5px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .person-fyWMs1 {
    background-color: transparent;
    height: calc(100.00% - 19px);
    left: 10px;
    position: absolute;
    top: 10px;
    width: calc(100.00% - 19px);
  }
  
  .web-1920-1 .ellipse-2-39v2TQ {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .about-N3ogtf {
    background-color: transparent;
    height: 720px;
    left: 165px;
    position: absolute;
    top: 1115px;
    width: calc(100.00% - 363px);
  }
  
  .web-1920-1 .button-9YvTe5 {
    background-color: transparent;
    bottom: 55px;
    height: 60px;
    position: absolute;
    right: calc(28.06% - 73px);
    width: 260px;
  }
  
  .web-1920-1 .rectangle-21-6I9sm2 {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .conhea-a-rexfort-6I9sm2 {
    background-color: transparent;
    height: 21px;
    left: 46px;
    letter-spacing: 0.00px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(46.15% - 10px);
    white-space: nowrap;
    width: calc(100.00% - 89px);
  }
  
  .web-1920-1 .text-9YvTe5 {
    background-color: transparent;
    height: 490px;
    position: absolute;
    right: 0px;
    top: 78px;
    width: 624px;
  }
  
  .web-1920-1 .a-rexfort-atua-rarias-agregand-XoHHnn {
    background-color: transparent;
    bottom: 1px;
    height: 275px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 1px);
  }
  
  .web-1920-1 .nossa-histria-XoHHnn {
    background-color: transparent;
    height: 25px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: calc(100.00% - 101px);
  }
  
  .web-1920-1 .title-9YvTe5 {
    background-color: transparent;
    height: 144px;
    position: absolute;
    right: 58px;
    top: calc(19.62% - 28px);
    width: 566px;
  }
  
  .web-1920-1 .segurana-agilid-inas-eficientes-jfixXN {
    background-color: transparent;
    height: 146px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .img-9YvTe5 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 657px;
  }
  
  .web-1920-1 .rectangle-87-sbK7KV {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .contato-N3ogtf {
    background-color: transparent;
    bottom: 788px;
    height: 1221px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-102-n4uVk5 {
    background-color: var(--alabaster);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .text-n4uVk5 {
    background-color: transparent;
    height: 576px;
    position: absolute;
    right: calc(23.40% - 98px);
    top: calc(32.41% - 187px);
    width: 420px;
  }
  
  .web-1920-1 .corporativo-rex-strada-da-vindi-N8zI19 {
    background-color: transparent;
    bottom: 1px;
    color: var(--chicago);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m);
    font-weight: 400;
    height: 361px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 8px);
  }
  
  .web-1920-1 .span0-qMIFTk {
  }
  
  .web-1920-1 .span1-qMIFTk {
  }
  
  .web-1920-1 .span2-qMIFTk {
  }
  
  .web-1920-1 .span3-qMIFTk {
  }
  
  .web-1920-1 .span4-qMIFTk {
  }
  
  .web-1920-1 .span5-qMIFTk {
  }
  
  .web-1920-1 .span6-qMIFTk {
  }
  
  .web-1920-1 .span7-qMIFTk {
  }
  
  .web-1920-1 .span8-qMIFTk {
  }
  
  .web-1920-1 .span9-qMIFTk {
  }
  
  .web-1920-1 .fale-conosco-N8zI19 {
    background-color: transparent;
    height: 25px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: calc(100.00% - 13px);
  }
  
  .web-1920-1 .title-N8zI19 {
    background-color: transparent;
    height: 96px;
    left: 0px;
    position: absolute;
    top: 35px;
    width: 100%;
  }
  
  .web-1920-1 .entre-em-contato-com-a-rexfort-KSE1ZJ {
    background-color: transparent;
    color: #248d32;
    font-family: var(--font-family-russo_one);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 400;
    height: 98px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .form-n4uVk5 {
    background-color: transparent;
    bottom: 177px;
    height: 834px;
    left: calc(25.10% - 152px);
    position: absolute;
    width: 605px;
  }
  
  .web-1920-1 .text-area-pORYTl {
    background-color: transparent;
    bottom: 81px;
    height: 206px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-26-zQTZjW {
    background-color: var(--white);
    height: calc(100.00% - 28px);
    left: 0px;
    position: absolute;
    top: 28px;
    width: 100%;
  }
  
  .web-1920-1 .mensagem-zQTZjW {
    background-color: transparent;
    height: 22px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 90px;
  }
  
  .web-1920-1 .digite-aqui-sua-mensagem-zQTZjW {
    background-color: transparent;
    height: 24px;
    left: 29px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    top: calc(26.92% - 6px);
    width: 225px;
  }
  
  .web-1920-1 .email-pORYTl {
    background-color: transparent;
    bottom: calc(40.35% - 36px);
    height: 88px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-26-BvxxAU {
    background-color: var(--white);
    box-shadow: 0px 10px 100px #0000000d;
    height: calc(100.00% - 28px);
    left: 0px;
    position: absolute;
    top: 28px;
    width: 100%;
  }
  
  .web-1920-1 .assunto-BvxxAU {
    background-color: transparent;
    height: 22px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 77px;
  }
  
  .web-1920-1 .escrevendo-o-assun-BvxxAU {
    background-color: transparent;
    bottom: calc(25.00% - 6px);
    color: var(--black);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: 24px;
    left: 29px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    width: 187px;
  }
  
  .web-1920-1 .button-pORYTl {
    background-color: transparent;
    bottom: 0px;
    height: 60px;
    left: 0px;
    position: absolute;
    width: 264px;
  }
  
  .web-1920-1 .rectangle-21-sRcbC9 {
    background-color: var(--alabaster);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .enviar-mensagem-sRcbC9 {
    background-color: transparent;
    color: #248d32;
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    height: 21px;
    letter-spacing: 0.00px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    right: calc(48.44% - 80px);
    text-align: left;
    top: calc(48.72% - 10px);
    white-space: nowrap;
    width: 165px;
  }
  
  .web-1920-1 .nome-completo-pORYTl {
    background-color: transparent;
    height: 86px;
    left: 0px;
    position: absolute;
    top: 111px;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-26-kMFGE7 {
    background-color: var(--white);
    height: calc(100.00% - 26px);
    left: 0px;
    position: absolute;
    top: 26px;
    width: 100%;
  }
  
  .web-1920-1 .empresa-kMFGE7 {
    background-color: transparent;
    height: 22px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 74px;
  }
  
  .web-1920-1 .nome-da-empresa-kMFGE7 {
    background-color: transparent;
    bottom: calc(20.97% - 5px);
    height: 24px;
    left: 29px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    width: 154px;
  }
  
  .web-1920-1 .nome-completo-HSyKNk {
    background-color: transparent;
    height: 86px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-26-rYNccF {
    background-color: var(--white);
    height: calc(100.00% - 26px);
    left: 0px;
    position: absolute;
    top: 26px;
    width: 100%;
  }
  
  .web-1920-1 .nome-completo-rYNccF {
    background-color: transparent;
    height: 22px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 136px;
  }
  
  .web-1920-1 .nome-sobrenome-rYNccF {
    background-color: transparent;
    bottom: calc(20.97% - 5px);
    height: 24px;
    left: 29px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    width: 152px;
  }
  
  .web-1920-1 .nome-completo-lkvZ5l {
    background-color: transparent;
    height: 86px;
    left: 0px;
    position: absolute;
    top: calc(29.68% - 26px);
    width: 100%;
  }
  
  .web-1920-1 .rectangle-26-FEvCxV {
    background-color: var(--white);
    height: calc(100.00% - 26px);
    left: 0px;
    position: absolute;
    top: 26px;
    width: 100%;
  }
  
  .web-1920-1 .fone-FEvCxV {
    background-color: transparent;
    height: 22px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 43px;
  }
  
  .web-1920-1 .x55-54-00000000-FEvCxV {
    background-color: transparent;
    bottom: calc(20.97% - 5px);
    height: 24px;
    left: 29px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    width: 162px;
  }
  
  .web-1920-1 .nome-completo-grIhef {
    background-color: transparent;
    height: 88px;
    left: 0px;
    position: absolute;
    top: calc(44.37% - 39px);
    width: 100%;
  }
  
  .web-1920-1 .rectangle-26-4B7VxF {
    background-color: var(--white);
    height: calc(100.00% - 28px);
    left: 0px;
    position: absolute;
    top: 28px;
    width: 100%;
  }
  
  .web-1920-1 .e-mail-4B7VxF {
    background-color: transparent;
    height: 22px;
    left: 2px;
    letter-spacing: 0.00px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 56px;
  }
  
  .web-1920-1 .empresaempresacombr-4B7VxF {
    background-color: transparent;
    bottom: calc(23.44% - 6px);
    height: 24px;
    left: 29px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    width: 229px;
  }
  
  .web-1920-1 .produtos-N3ogtf {
    background-color: transparent;
    height: 1165px;
    left: 146px;
    position: absolute;
    top: calc(25.38% - 296px);
    width: calc(100.00% - 287px);
  }
  
  .web-1920-1 .text-hNTgPy {
    background-color: transparent;
    height: 19px;
    left: 19px;
    position: absolute;
    top: 0px;
    width: 623px;
  }
  
  .web-1920-1 .para-todos-os-equipamentos-1LMKQE {
    background-color: transparent;
    height: 21px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .title-hNTgPy {
    background-color: transparent;
    height: 166px;
    left: 19px;
    position: absolute;
    top: 34px;
    width: 714px;
  }
  
  .web-1920-1 .peas-rexfort-service-x0oupD {
    background-color: transparent;
    height: 146px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    width: 179px;
  }
  
  .web-1920-1 .selecione-seu-t-equipamento-ac-x0oupD {
    background-color: transparent;
    height: 156px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    right: -2px;
    text-align: left;
    top: 9px;
    width: 421px;
  }
  
  .web-1920-1 .button-hNTgPy {
    background-color: transparent;
    height: 60px;
    position: absolute;
    right: 23px;
    top: 46px;
    width: 250px;
  }
  
  .web-1920-1 .rectangle-21-VDTYN9 {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vdeo-de-treinamento-VDTYN9 {
    background-color: transparent;
    height: 21px;
    left: 32px;
    letter-spacing: 0.00px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(48.72% - 10px);
    white-space: nowrap;
    width: calc(100.00% - 59px);
  }
  
  .web-1920-1 .button-DhCJwl {
    background-color: transparent;
    height: 60px;
    position: absolute;
    right: calc(22.02% - 55px);
    top: 46px;
    width: 248px;
  }
  
  .web-1920-1 .rectangle-21-4WIeQl {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .manual-de-operao-4WIeQl {
    background-color: transparent;
    height: 21px;
    left: 32px;
    letter-spacing: 0.00px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(48.72% - 10px);
    white-space: nowrap;
    width: calc(100.00% - 63px);
  }
  
  .web-1920-1 .button-bBo01A {
    background-color: transparent;
    height: 60px;
    position: absolute;
    right: calc(40.94% - 84px);
    top: 46px;
    width: 204px;
  }
  
  .web-1920-1 .rectangle-21-4VA859 {
    background-color: var(--eucalyptus);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .todas-as-peas-4VA859 {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    height: 21px;
    left: 32px;
    letter-spacing: 0.00px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(48.72% - 10px);
    white-space: nowrap;
    width: calc(100.00% - 65px);
  }
  
  .web-1920-1 .produto-hNTgPy {
    background-color: transparent;
    height: 416px;
    left: 21px;
    position: absolute;
    top: calc(42.59% - 177px);
    width: 429px;
  }
  
  .web-1920-1 .name-FijyCK {
    background-color: transparent;
    bottom: 0px;
    height: 117px;
    left: 49px;
    position: absolute;
    width: 253px;
  }
  
  .web-1920-1 .seta-xrw6QT {
    background-color: transparent;
    bottom: 0px;
    height: 32px;
    left: 0px;
    position: absolute;
    width: 46px;
  }
  
  .web-1920-1 .vector-7wdcVs {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .politriz-de-borda-vertical-xrw6QT {
    background-color: transparent;
    height: 24px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: calc(48.48% - 12px);
    white-space: nowrap;
    width: calc(100.00% - 69px);
  }
  
  .web-1920-1 .under-xrw6QT {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .img-produto-FijyCK {
    background-color: transparent;
    height: 278px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .produto-hover-hNTgPy {
    background-color: transparent;
    height: 450px;
    left: calc(45.64% - 284px);
    position: absolute;
    top: calc(39.86% - 179px);
    width: 623px;
  }
  
  .web-1920-1 .name-APLsg4 {
    background-color: transparent;
    bottom: 0px;
    height: 117px;
    position: absolute;
    right: calc(48.98% - 124px);
    width: 253px;
  }
  
  .web-1920-1 .seta-gvOLxD {
    background-color: transparent;
    bottom: 0px;
    height: 32px;
    left: 35px;
    position: absolute;
    width: 46px;
  }
  
  .web-1920-1 .vector-MmhYyQ {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .politriz-de-borda-automtica-gvOLxD {
    background-color: transparent;
    height: 24px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: calc(48.48% - 12px);
    white-space: nowrap;
    width: calc(100.00% - 35px);
  }
  
  .web-1920-1 .naked-gvOLxD {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .produto-naked-1-APLsg4 {
    background-color: transparent;
    height: calc(100.00% + 308px);
    left: -210px;
    object-fit: cover;
    position: absolute;
    top: -210px;
    width: calc(100.00% + 420px);
  }
  
  .web-1920-1 .mouse-3-APLsg4 {
    background-color: transparent;
    bottom: calc(36.60% - 11px);
    height: 31px;
    object-fit: cover;
    position: absolute;
    right: calc(34.63% - 9px);
    width: 26px;
  }
  
  .web-1920-1 .produto-DhCJwl {
    background-color: transparent;
    height: 426px;
    position: absolute;
    right: 23px;
    top: calc(41.81% - 178px);
    width: 510px;
  }
  
  .web-1920-1 .name-lPmfqY {
    background-color: transparent;
    bottom: 0px;
    height: 117px;
    left: 74px;
    position: absolute;
    width: 253px;
  }
  
  .web-1920-1 .seta-9II0NE {
    background-color: transparent;
    bottom: 0px;
    height: 32px;
    left: 0px;
    position: absolute;
    width: 46px;
  }
  
  .web-1920-1 .vector-z8k0R5 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .politriz-de-borda-automtica-9II0NE {
    background-color: transparent;
    height: 24px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: calc(48.48% - 12px);
    white-space: nowrap;
    width: calc(100.00% - 37px);
  }
  
  .web-1920-1 .recta-9II0NE {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .produto-recta-1-lPmfqY {
    background-color: transparent;
    height: 276px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .produto-bBo01A {
    background-color: transparent;
    bottom: 0px;
    height: 381px;
    left: 0px;
    position: absolute;
    width: 479px;
  }
  
  .web-1920-1 .name-vzh853 {
    background-color: transparent;
    bottom: 0px;
    height: 117px;
    left: 71px;
    position: absolute;
    width: 253px;
  }
  
  .web-1920-1 .seta-KuuFN3 {
    background-color: transparent;
    bottom: 0px;
    height: 32px;
    left: 0px;
    position: absolute;
    width: 46px;
  }
  
  .web-1920-1 .vector-w9xCxO {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .politriz-de-borda-automtica-KuuFN3 {
    background-color: transparent;
    height: 24px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: calc(48.48% - 12px);
    white-space: nowrap;
    width: calc(100.00% - 12px);
  }
  
  .web-1920-1 .gennus-KuuFN3 {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .gennus-vzh853 {
    background-color: transparent;
    height: calc(100.00% - 122px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .produto-B6BNTP {
    background-color: transparent;
    bottom: 0px;
    height: 390px;
    left: calc(47.73% - 242px);
    position: absolute;
    width: 508px;
  }
  
  .web-1920-1 .name-dfroKq {
    background-color: transparent;
    bottom: 0px;
    height: 117px;
    left: calc(37.23% - 103px);
    position: absolute;
    width: 277px;
  }
  
  .web-1920-1 .seta-Y5mUxm {
    background-color: transparent;
    bottom: 0px;
    height: 32px;
    left: 0px;
    position: absolute;
    width: 46px;
  }
  
  .web-1920-1 .vector-5gWJfO {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .politriz-de-borda-automtica-Y5mUxm {
    background-color: transparent;
    height: 24px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(48.48% - 12px);
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .velox-Y5mUxm {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% - 24px);
  }
  
  .web-1920-1 .velox-dfroKq {
    background-color: transparent;
    height: calc(100.00% - 113px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .produto-LebSRR {
    background-color: transparent;
    bottom: 0px;
    height: 395px;
    position: absolute;
    right: 0px;
    width: 530px;
  }
  
  .web-1920-1 .name-gw2qIc {
    background-color: transparent;
    bottom: 0px;
    height: 117px;
    left: 72px;
    position: absolute;
    width: 321px;
  }
  
  .web-1920-1 .seta-ygYCpE {
    background-color: transparent;
    bottom: 0px;
    height: 32px;
    left: 0px;
    position: absolute;
    width: 46px;
  }
  
  .web-1920-1 .vector-qshktG {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .politriz-de-borda-automtica-ygYCpE {
    background-color: transparent;
    height: 24px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: calc(48.48% - 12px);
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .magna-ygYCpE {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% - 68px);
  }
  
  .web-1920-1 .magna-gw2qIc {
    background-color: transparent;
    height: calc(100.00% - 108px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .novidades-N3ogtf {
    background-color: transparent;
    bottom: calc(28.80% - 430px);
    height: 1492px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
  
  .web-1920-1 .text-THKQ3x {
    background-color: transparent;
    height: 19px;
    left: 165px;
    position: absolute;
    top: 0px;
    width: 623px;
  }
  
  .web-1920-1 .novidades-da-empresa-MWXg7k {
    background-color: transparent;
    height: 21px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .title-THKQ3x {
    background-color: transparent;
    height: 48px;
    left: 165px;
    position: absolute;
    top: 38px;
    width: 388px;
  }
  
  .web-1920-1 .rexfort-na-mdia-wvdOwa {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .img-principal-THKQ3x {
    background-color: transparent;
    height: 700px;
    left: calc(49.95% - 466px);
    position: absolute;
    top: 141px;
    width: 933px;
  }
  
  .web-1920-1 .rectangle-104-vXujZt {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .content-news-THKQ3x {
    background-color: transparent;
    bottom: 0px;
    height: 581px;
    position: absolute;
    right: calc(47.89% - 420px);
    width: 876px;
  }
  
  .web-1920-1 .o-armazm-vertic-fase-de-constru-Vxfecz {
    background-color: transparent;
    bottom: 72px;
    height: 381px;
    left: 3px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 46px);
  }
  
  .web-1920-1 .x28032021-Vxfecz {
    background-color: transparent;
    color: var(--chicago);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    height: 24px;
    left: 5px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: calc(100.00% - 3px);
  }
  
  .web-1920-1 .rexfort-armazm-vo-industria-40-Vxfecz {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 800;
    height: 58px;
    left: 3px;
    letter-spacing: 0.00px;
    line-height: 28px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 31px;
    width: calc(100.00% - 188px);
  }
  
  .web-1920-1 .print-Vxfecz {
    background-color: transparent;
    height: 47px;
    position: absolute;
    right: 48px;
    top: 34px;
    width: 47px;
  }
  
  .web-1920-1 .group-YYo4J5 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-MgQ3lk {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-eODxTk {
    background-color: transparent;
    bottom: calc(26.76% - 1px);
    height: 3px;
    left: calc(50.00% - 5px);
    object-fit: cover;
    position: absolute;
    width: 10px;
  }
  
  .web-1920-1 .vector-EZvcRj {
    background-color: transparent;
    bottom: 6px;
    height: 3px;
    left: calc(50.00% - 5px);
    object-fit: cover;
    position: absolute;
    width: 10px;
  }
  
  .web-1920-1 .vector-zfCxX2 {
    background-color: transparent;
    height: 3px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: calc(40.04% - 1px);
    width: 7px;
  }
  
  .web-1920-1 .button-Vxfecz {
    background-color: transparent;
    bottom: 0px;
    height: 60px;
    position: absolute;
    right: 55px;
    width: 273px;
  }
  
  .web-1920-1 .rectangle-21-dccNgS {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .todas-as-novidades-dccNgS {
    background-color: transparent;
    height: 21px;
    left: 48px;
    letter-spacing: 0.00px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(46.15% - 10px);
    white-space: nowrap;
    width: calc(100.00% - 94px);
  }
  
  .web-1920-1 .social-addthis-Vxfecz {
    background-color: transparent;
    bottom: 0px;
    height: 58px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    width: 387px;
  }
  
  .web-1920-1 .proximo-THKQ3x {
    background-color: transparent;
    height: 700px;
    position: absolute;
    right: 0px;
    top: 141px;
    width: 440px;
  }
  
  .web-1920-1 .rectangle-106-cLtV1s {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .anterior-THKQ3x {
    background-color: transparent;
    height: 700px;
    left: 0px;
    position: absolute;
    top: 141px;
    width: 438px;
  }
  
  .web-1920-1 .rectangle-105-R85ax3 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .arows-THKQ3x {
    background-color: transparent;
    bottom: calc(49.09% - 31px);
    height: 64px;
    position: absolute;
    right: calc(30.57% - 42px);
    width: 137px;
  }
  
  .web-1920-1 .rectangle-108-OAhtt6 {
    background-color: var(--white);
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 64px;
  }
  
  .web-1920-1 .rectangle-109-OAhtt6 {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 64px;
  }
  
  .web-1920-1 .group-OAhtt6 {
    background-color: transparent;
    bottom: calc(49.17% - 10px);
    height: 21px;
    position: absolute;
    right: 17px;
    width: 30px;
  }
  
  .web-1920-1 .vector-VrHB7u {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
  }
  
  .web-1920-1 .group-xBKTZB {
    background-color: transparent;
    bottom: calc(48.52% - 10px);
    height: 21px;
    left: 17px;
    position: absolute;
    width: 30px;
  }
  
  .web-1920-1 .vector-bh75UG {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .diferenciais-N3ogtf {
    background-color: transparent;
    height: 810px;
    left: 163px;
    position: absolute;
    top: calc(40.58% - 329px);
    width: 1455px;
  }
  
  .web-1920-1 .text-uw6TjI {
    background-color: transparent;
    height: 19px;
    left: 3px;
    position: absolute;
    top: 0px;
    width: 623px;
  }
  
  .web-1920-1 .qualidade-que-conquista-rdOA0N {
    background-color: transparent;
    height: 21px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .title-uw6TjI {
    background-color: transparent;
    height: 48px;
    left: 0px;
    position: absolute;
    top: 38px;
    width: 282px;
  }
  
  .web-1920-1 .diferenciais-layGZs {
    background-color: transparent;
    height: 50px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 48px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .diferencial-uw6TjI {
    background-color: transparent;
    height: 302px;
    left: 167px;
    position: absolute;
    top: calc(33.07% - 100px);
    width: 356px;
  }
  
  .web-1920-1 .o-compromisso-c-geram-economia-dkyy8t {
    background-color: transparent;
    bottom: 1px;
    height: 119px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .sustentabilidade-dkyy8t {
    background-color: transparent;
    height: 31px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(47.23% - 15px);
    width: 100%;
  }
  
  .web-1920-1 .world-1-dkyy8t {
    background-color: transparent;
    height: 95px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 95px;
  }
  
  .web-1920-1 .group-GSmUur {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-hC0YpD {
    background-color: transparent;
    height: calc(100.00% - 8px);
    object-fit: cover;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 64px;
  }
  
  .web-1920-1 .vector-l8rxo3 {
    background-color: transparent;
    height: calc(100.00% - 8px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 64px;
  }
  
  .web-1920-1 .vector-dCyWZD {
    background-color: transparent;
    height: calc(100.00% - 40px);
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: calc(100.00% - 40px);
  }
  
  .web-1920-1 .diferencial-SjFbAj {
    background-color: transparent;
    height: 296px;
    position: absolute;
    right: calc(44.77% - 159px);
    top: calc(33.91% - 100px);
    width: 356px;
  }
  
  .web-1920-1 .a-rexfort-tem-c-antia-estendida-qZcEcN {
    background-color: transparent;
    bottom: 1px;
    height: 119px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .garantia-qZcEcN {
    background-color: transparent;
    height: 31px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(45.95% - 14px);
    width: 100%;
  }
  
  .web-1920-1 .document-1-qZcEcN {
    background-color: transparent;
    height: 82px;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 95px;
  }
  
  .web-1920-1 .group-YWSOx9 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-TvYdjy {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-kwrFZd {
    background-color: transparent;
    height: 6px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: calc(21.21% - 1px);
    width: calc(100.00% - 25px);
  }
  
  .web-1920-1 .vector-lVQILp {
    background-color: transparent;
    height: 6px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: calc(41.20% - 2px);
    width: 33px;
  }
  
  .web-1920-1 .diferencial-gEJwLY {
    background-color: transparent;
    height: 289px;
    position: absolute;
    right: 0px;
    top: calc(31.86% - 92px);
    width: 356px;
  }
  
  .web-1920-1 .os-equipamentos-de-diferenciada-wlie6T {
    background-color: transparent;
    bottom: 1px;
    height: 104px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .durabilidade-wlie6T {
    background-color: transparent;
    bottom: calc(49.61% - 17px);
    height: 35px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  
  .web-1920-1 .resistant-1-wlie6T {
    background-color: transparent;
    height: 98px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 102px;
  }
  
  .web-1920-1 .group-lS6f4w {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-nbTMQk {
    background-color: transparent;
    bottom: 1px;
    height: 20px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }
  
  .web-1920-1 .vector-LOnNWk {
    background-color: transparent;
    height: 72px;
    left: 17px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 33px);
  }
  
  .web-1920-1 .vector-8POsii {
    background-color: transparent;
    height: 30px;
    object-fit: cover;
    position: absolute;
    right: calc(49.98% - 12px);
    top: calc(44.28% - 13px);
    width: 25px;
  }
  
  .web-1920-1 .diferencial-2a9mjS {
    background-color: transparent;
    bottom: 0px;
    height: 299px;
    left: 167px;
    position: absolute;
    width: 356px;
  }
  
  .web-1920-1 .a-rexfort-servi-peas-fornecidas-gzR1A0 {
    background-color: transparent;
    bottom: 1px;
    height: 119px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 19px);
  }
  
  .web-1920-1 .testadas-e-aprovadas-gzR1A0 {
    background-color: transparent;
    height: 31px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(46.64% - 14px);
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .verified-1-gzR1A0 {
    background-color: transparent;
    height: 88px;
    left: 11px;
    position: absolute;
    top: 1px;
    width: 74px;
  }
  
  .web-1920-1 .group-E8dJzV {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-EzWUoK {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .diferencial-2wKM7t {
    background-color: transparent;
    bottom: 0px;
    height: 306px;
    position: absolute;
    right: calc(44.77% - 159px);
    width: 356px;
  }
  
  .web-1920-1 .produtos-de-qua-por-mais-tempo-3vf370 {
    background-color: transparent;
    bottom: 1px;
    height: 119px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 14px);
  }
  
  .web-1920-1 .peas-originais-3vf370 {
    background-color: transparent;
    height: 31px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(48.00% - 15px);
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .badge-1-3vf370 {
    background-color: transparent;
    height: 104px;
    left: 12px;
    position: absolute;
    top: 0px;
    width: 80px;
  }
  
  .web-1920-1 .group-xttCkb {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-mfswV8 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
  }
  
  .web-1920-1 .vector-IqveZP {
    background-color: transparent;
    height: 44px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: calc(29.67% - 13px);
    width: calc(100.00% - 36px);
  }
  
  .web-1920-1 .vector-xxC32a {
    background-color: transparent;
    height: 14px;
    left: calc(50.00% - 9px);
    object-fit: cover;
    position: absolute;
    top: calc(36.72% - 5px);
    width: 18px;
  }
  
  .web-1920-1 .diferencial-iVMD6Q {
    background-color: transparent;
    bottom: 15px;
    height: 284px;
    position: absolute;
    right: 0px;
    width: 356px;
  }
  
  .web-1920-1 .obtenha-a-mxima-a-sempre-em-dia-obD4gA {
    background-color: transparent;
    bottom: 1px;
    height: 104px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 19px);
  }
  
  .web-1920-1 .manuteno-preventiva-obD4gA {
    background-color: transparent;
    height: 31px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(49.41% - 15px);
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .technics-1-obD4gA {
    background-color: transparent;
    height: 91px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 91px;
  }
  
  .web-1920-1 .group-KleXVG {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .group-xx2xuk {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-XnyTYB {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .group-BJx2iN {
    background-color: transparent;
    bottom: 11px;
    height: 16px;
    position: absolute;
    right: 11px;
    width: 16px;
  }
  
  .web-1920-1 .group-fGN2rj {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-1U8Ueu {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .slider-N3ogtf {
    background-color: transparent;
    height: 818px;
    left: 0px;
    position: absolute;
    top: 120px;
    width: 100%;
  }
  
  .web-1920-1 .mask-group-ay13S5 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-113-3yyLj1 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .atalho-produtos-ay13S5 {
    background-color: transparent;
    bottom: 97px;
    height: 141px;
    position: absolute;
    right: calc(35.49% - 77px);
    width: 218px;
  }
  
  .web-1920-1 .peas-peas-e-ace-us-equipamentos-J81VxG {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xl);
    font-weight: 400;
    height: 58px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(28.91% - 17px);
    width: calc(100.00% - 19px);
  }
  
  .web-1920-1 .span0-nh01ex {
    font-style: normal;
    font-weight: 700;
  }
  
  .web-1920-1 .span1-nh01ex {
  }
  
  .web-1920-1 .arrow-pointing-to-right-1-J81VxG {
    background-color: transparent;
    bottom: 1px;
    height: 22px;
    left: 0px;
    position: absolute;
    width: 32px;
  }
  
  .web-1920-1 .group-vfrQpd {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-xOS1na {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-116-J81VxG {
    background-color: var(--white);
    height: 2px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .atalho-cases-ay13S5 {
    background-color: transparent;
    bottom: 97px;
    height: 141px;
    position: absolute;
    right: 276px;
    width: 216px;
  }
  
  .web-1920-1 .arrow-pointing-to-right-1-F21xAY {
    background-color: transparent;
    bottom: 1px;
    height: 22px;
    left: 0px;
    position: absolute;
    width: 32px;
  }
  
  .web-1920-1 .group-xlpHV8 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .vector-pRxuhi {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .rectangle-116-F21xAY {
    background-color: var(--white);
    height: 2px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .reviso-mantenha-pamentos-em-dia-F21xAY {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xl);
    font-weight: 400;
    height: 58px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc(28.91% - 17px);
    width: calc(100.00% - 17px);
  }
  
  .web-1920-1 .span0-jJVcop {
    font-style: normal;
    font-weight: 700;
  }
  
  .web-1920-1 .span1-jJVcop {
  }
  
  .web-1920-1 .title-ay13S5 {
    background-color: transparent;
    bottom: calc(49.72% - 230px);
    height: 462px;
    left: 162px;
    position: absolute;
    width: 489px;
  }
  
  .web-1920-1 .originalidade-e-durao-sm24x2 {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-russo_one);
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    height: 126px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 62px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 5px;
    width: calc(100.00% + 2px);
  }
  
  .web-1920-1 .a-rexfort-servi-odutividade-por-sm24x2 {
    background-color: transparent;
    bottom: 32px;
    height: 186px;
    left: 3px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    width: 262px;
  }
  
  .web-1920-1 .x1-3-sm24x2 {
    background-color: transparent;
    bottom: 1px;
    color: var(--silver);
    font-family: var(--font-family-manrope);
    font-size: 36px;
    font-weight: 400;
    height: 33px;
    left: 3px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 57px;
  }
  
  .web-1920-1 .span0-sbe7kx {
    color: var(--white);
    font-style: normal;
  }
  
  .web-1920-1 .span1-sbe7kx {
  }
  
  .web-1920-1 .top-N3ogtf {
    background-color: transparent;
    height: 120px;
    left: 167px;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 167px);
  }
  
  .web-1920-1 .logotipo-service-8bcEPA {
    background-color: transparent;
    bottom: calc(43.65% - 27px);
    height: 61px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    width: 230px;
  }
  
  .web-1920-1 .menu-8bcEPA {
    background-color: transparent;
    height: 25px;
    left: calc(41.89% - 406px);
    position: absolute;
    top: calc(49.47% - 12px);
    width: 970px;
  }
  
  .web-1920-1 .home-empresa-pe-so-blog-contato-GS4xTl {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m);
    font-weight: 400;
    height: 26px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: -2px;
    white-space: nowrap;
    width: calc(100.00% - 203px);
  }
  
  .web-1920-1 .span0-TNWnmB {
    color: #248c52;
    font-style: normal;
    font-weight: 700;
  }
  
  .web-1920-1 .span1-TNWnmB {
    font-style: normal;
  }
  
  .web-1920-1 .redes-sociais-GS4xTl {
    background-color: transparent;
    height: calc(100.00% - 3px);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 102px;
  }
  
  .web-1920-1 .instagram-yDGn2j {
    background-color: transparent;
    height: 100%;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 22px;
  }
  
  .web-1920-1 .vector-WSoG4h {
    background-color: transparent;
    height: calc(100.00% - 11px);
    left: 5px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: calc(100.00% - 11px);
  }
  
  .web-1920-1 .vector-rrV0Oq {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
  }
  
  .web-1920-1 .vector-hDD9i6 {
    background-color: transparent;
    height: 3px;
    object-fit: cover;
    position: absolute;
    right: calc(19.67% - 1px);
    top: calc(19.67% - 1px);
    width: 3px;
  }
  
  .web-1920-1 .facebook-yDGn2j {
    background-color: transparent;
    height: 100%;
    position: absolute;
    right: calc(50.00% - 11px);
    top: 0px;
    width: 22px;
  }
  
  .web-1920-1 .vector-c0LNLK {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .linkedin-yDGn2j {
    background-color: transparent;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 1px;
    width: 22px;
  }
  
  .web-1920-1 .vector-CKcb3C {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .byn-ecoomerce-8bcEPA {
    background-color: transparent;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 327px;
  }
  
  .web-1920-1 .rectangle-110-UgfKVM {
    background-color: var(--eucalyptus);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .web-1920-1 .info-UgfKVM {
    background-color: transparent;
    height: 28px;
    left: calc(50.00% - 110px);
    position: absolute;
    top: calc(49.23% - 14px);
    width: 221px;
  }
  
  .web-1920-1 .x54-999999999-yxhnPI {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    height: 22px;
    left: 45px;
    letter-spacing: 0.00px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 6px;
    white-space: nowrap;
    width: calc(100.00% - 43px);
  }
  
  .web-1920-1 .whatsapp-yxhnPI {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 28px;
  }
  
  .web-1920-1 .vector-3A89GI {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  